<div class="card text-center full">
    <div class="card-header full">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="card-body full">
      <h3 class="card-title text-start">CABRERA KITE SURF</h3>
      <h5 class="card-title text-start">Create a great memory by doing something incredible!!</h5>
      <p class="card-text text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi at, ducimus vel accusamus veniam, est amet quo fuga, facilis aliquid voluptate dicta recusandae ullam mollitia culpa alias adipisci debitis quod.</p>
      <p class="card-text text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi at, ducimus vel accusamus veniam, est amet quo fuga, facilis aliquid voluptate dicta recusandae ullam mollitia culpa alias adipisci debitis quod.</p>
      <p class="card-text text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi at, ducimus vel accusamus veniam, est amet quo fuga, facilis aliquid voluptate dicta recusandae ullam mollitia culpa alias adipisci debitis quod.</p>
      <a href="#contact" class="btn btn-warning">Book a Lesson</a>
      <a href="#" class="btn btn-outline-warning"><i class="fa-brands fa-facebook"></i>&nbspFacebook</a>
    </div>
</div>