<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href='/bootstrap/dist/css/bootstrap.min.css'>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
  <link rel="stylesheet" href='/@fortawesome/fontawesome-free/css/all.min.css'>
  <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/contact_effect.js" defer></script>
  <title><%= title %></title>
</head>
<body>
  <main class="bgcolor">