<div id="welcome" class="card bg-primary">
    <img src="/images/alvaro1.jpg" class="card-img" id="alvaro1" alt="Alvaro Cabrera">
    <div class="card-img-overlay text-light" id="text-overlay">
      <p class="card-text no-margin-padding subttitle">Adventure, Fun, and great moments.</p>
      <h1 class="card-title no-margin-padding fw-bold title text-center">Kite Surf</h1>
      <p class="card-text no-margin-padding text-end subttitle"><small>Tampa Bay</small></p>
      <a href="#contact" class="btn btn-warning btn-sm" style="--bs-btn-padding-y: .03vw; --bs-btn-padding-x: .3vw; --bs-btn-font-size: 2vw;">Book a Lesson</a>
    </div>
    <div class="contrast"></div>
</div>