<div class="text-center" id="about">
  <div class="row g-0 mx-0">
    <div class="col-lg-6 col-sm-12">
      <% include partials/card.ejs %>
    </div>
    <div class="col-lg-6 col-sm-12">
      <img class="full" src="images/alvaro2.jpg" alt="alvaro kite surfing">
    </div>
  </div>
</div>