<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Private Lessons
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <ul>
        <li><i class="fa-solid fa-wind"></i>&nbsp;A simple warning list group item</li>
        <li><i class="fa-solid fa-wind"></i>&nbsp;A simple warning list group item</li>
        <li><i class="fa-solid fa-wind"></i>&nbsp;A simple warning list group item</li>
        <li><i class="fa-solid fa-wind"></i>&nbsp;A simple warning list group item</li>
        <li><i class="fa-solid fa-wind"></i>&nbsp;A simple warning list group item</li>
        <li><i class="fa-solid fa-wind"></i>&nbsp;A simple warning list group item</li>
      </ul>
      <img class="full" src="images/alvaro4.jpg" alt="alvaro 3">
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Semi Private Lessons
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <ul>
        <li><i class="fa-solid fa-wind"></i>&nbsp;A simple warning list group item</li>
        <li><i class="fa-solid fa-wind"></i>&nbsp;A simple warning list group item</li>
        <li><i class="fa-solid fa-wind"></i>&nbsp;A simple warning list group item</li>
        <li><i class="fa-solid fa-wind"></i>&nbsp;A simple warning list group item</li>
        <li><i class="fa-solid fa-wind"></i>&nbsp;A simple warning list group item</li>
        <li><i class="fa-solid fa-wind"></i>&nbsp;A simple warning list group item</li>
      </ul>
      <img class="full" src="images/alvaro6.jpg" alt="alvaro 3">
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Group Lessons
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <ul>
        <li><i class="fa-solid fa-wind"></i>&nbsp;A simple warning list group item</li>
        <li><i class="fa-solid fa-wind"></i>&nbsp;A simple warning list group item</li>
        <li><i class="fa-solid fa-wind"></i>&nbsp;A simple warning list group item</li>
        <li><i class="fa-solid fa-wind"></i>&nbsp;A simple warning list group item</li>
        <li><i class="fa-solid fa-wind"></i>&nbsp;A simple warning list group item</li>
        <li><i class="fa-solid fa-wind"></i>&nbsp;A simple warning list group item</li>
      </ul>
      <img class="full" src="images/alvaro5.jpg" alt="alvaro 3">
    </div>
  </div>
</div>